.elemCarousel{
    .elemItem{
        height: 100vh;

        img{
            width: 100%;
            height: 100%;
        }
        .elemCaption{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(8, 8, 77, 0.45);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}