@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

:root{
    --navFont: #fff;
    --fontColor: #062057;
    --navTheme: rgba(3, 30, 69, .9);
    --bodyTheme: #020e21;
    --themeColor: #00ecfc;
    --cardBg: #152b4d;
    --cardColor: #0e152e;
    --secondColor: rgb(0, 204, 255);
    --secondBG: hsl(217, 87%, 3%);
    --secondCard: hsl(218, 89%, 11%);
}

.parent{
}
